<template>
  <v-btn :disabled="disabled" color="primary" @click="onClick">
    <slot></slot>
  </v-btn>
</template>

<script>
export default {
  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
    onClick: {
      type: Function,
      required: true,
    },
  },
};
</script>
